{% extends "Home/home.html.twig" %}

{% block form %}
    <div style="text-align: center">
        ----------------------  Form   ---------------------
        <br /><br />

        {% if modify is defined %}
            Old name : {{ teams.title }}
        {% endif %}
        {{ form_start(formTeam) }}
            <p>{{ form_row(formTeam.title) }}</p>
            <p>{{ form_row(formTeam.avatar) }}</p>

            <button type="submit" class="btn btn-primary">
                {% if modify is defined %}
                Modify your team
                {% else %}
                Create your team
                {% endif %}
            </button>

            {% if modify is defined%}
                <p><img src="{{ teams.avatar }}"></p>
            {% endif %}
        {{ form_end(formTeam) }}



        <br /><br />
        ----------------------------------------------------
    </div>
{% endblock %}

{% block list %}
    <div style="
        display: flex;
	    text-align: center;
	    flex-wrap: wrap;"
    >
    {% for team in teams %}

            <div style="flex-basis: 20%;">

                <a href="{{ path('team_sheet', {'id' : team.id} )}}" style="text-decoration: none">
                    <h2>{{ team.title }}</h2>
                    {% if (team.avatar != null) %}
                        <img src="{{ team.avatar }}">
                    {% endif %}
                </a>

                <div>
                    <a href="{{ path('delete_team', {'id' : team.id}) }}">
                        <button type="submit" >Delete</button>
                    </a>
                    <a href="{{ path('modify_team', {'id' : team.id}) }}">
                        <button type="submit" >Modify</button>
                    </a>
                </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}

{% block sheet %}
    <h1>{{ title }}</h1>
{% endblock %}