{% extends "Home/home.html.twig" %}

{% block body %}
    <div style="text-align: center">
        ----------------------  Form   ---------------------
        <br /><br />

        Old name : {{ teams.title }}
        {{ form_start(formTeam) }}
        <p>{{ form_row(formTeam.title) }}</p>
        <p>{{ form_row(formTeam.avatar) }}</p>
        <button type="submit" class="btn btn-primary">Modify your team</button>
        {{ form_end(formTeam) }}

        <img src="{{ teams.avatar }}">

        <br /><br />
        ----------------------------------------------------
    </div>
{% endblock %}