{% extends "Home/home.html.twig" %}

{% block body %}

    <div style="text-align: center; margin-top: 20%">
        <a href="{{ path('home') }}">
            <button type="submit">Back to Home</button>
        </a>

        <h1>{{ team.title }}</h1>
        {% for mrProject in arrayOfMR %}
            -------------------------<br />
            {% for mr in mrProject  %}

            Project : {{ projects[mr.project_id].name }}<br />
                Name of the MR : {{ mr.title }}<br />
                State of the MR : {{ mr.state }}<br />
                Votes + : {{ mr.upvotes }}<br />
                Votes - : {{ mr.downvotes }}

                <br />
            {% endfor %}
            --------------------------<br />
        {% endfor %}
    </div>

{% endblock %}