{% extends "Home/home.html.twig" %}

{% block body %}

    <div style="text-align: center; margin-top: 20%">
        <a href="{{ path('home') }}">
            <button type="submit">Back to Home</button>
        </a>

        <h1>{{ team.title }}</h1>
        {% for mrProject in arrayOfMR %}

            {% for mr in mrProject  %}

                <h4>Project : {{ projects[mr.project_id].name }}</h4>
                -------------------------<br />

                Name of the MR : {{ mr.title }}<br />
                State of the MR : {{ mr.state }}<br />
                <span style="color: green">Votes + : {{ mr.upvotes }}</span><br />
                <span style="color: red">Votes - : {{ mr.downvotes }}</span>

                <br />
            {% endfor %}
            --------------------------<br />
        {% endfor %}
    </div>

{% endblock %}